data/SPV_60_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WON_30_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/SPV_60_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/WOF_20_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_AL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_PL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_DZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_FI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_NL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_CH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_CZ_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_EE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_DE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_HU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_TR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_DK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_PS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_UK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_TN_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_MK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_EL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_AT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_HR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_MT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_IS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_IT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LV_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_CY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_SE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_MD_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_BA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LB_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LU_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_RS_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_SK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_NO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_ME_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_EH_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_EG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_IL_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_RO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_BE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_MA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_IE_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_XK_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_FR_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/100WS_NA_D-mean_BG_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_JO_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TA_NA_D-mean_SI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/10WS_NA_D-mean_LI_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_LY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_PT_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/GHI_NA_D-mean_UA_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_ES_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
data/TP_NA_D-mean_SY_PECD4.2.nc filter=lfs diff=lfs merge=lfs -text
